# Dados de Tabela Oferta Permanente x Municipios

##### Import das bibliotécas necessárias

In [1]:
import geopandas as gpd

##### Setando os arquivos shapefiles

In [2]:
path_list = ['ShapeFiles\Oferta_Permanente.shp', 'ShapeFiles\BR_Municipios_2022.shp']

dados = [gpd.read_file(i) for i in path_list]

##### Atribuindo variáveis para cada arquivo

In [3]:
oferta_permanente = dados[0]

municipios = dados[1]

##### Vizualizar Tabela de Oferta Permanente (5 primeiros registros)

In [4]:
oferta_permanente.head()

,BACIA,SETOR,TIPO,OFERTA,SITUACAO,STATUS,CICLO_OFPE,ATRAT_OFPE,RODADA_ORI,MODAL_ORIG,ATRAT_ORIG,AREA_KM2,Shape_STAr,Shape_STLe,geometry
0,Pelotas,SP-AR4,Bloco,P-M-1580,M,Aprovado,2.0,a ser realizado,13.0,Concessão,não arrematado,161.046007,0.015625,0.500000,"POLYGON ((-51.25000 -33.62500, -51.37500 -33.6..."
1,Santos,SS-AR4,Bloco,S-M-966,M,Em estudo,2.0,a ser realizado,5.0,Concessão,não arrematado,174.653913,0.015625,0.500000,"POLYGON ((-46.87500 -25.87500, -47.00000 -25.8..."
2,Santos,SS-AR3,Bloco,S-M-788,M,Em estudo,2.0,a ser realizado,0.0,Concessão,arrematado,167.958047,0.014940,0.500000,"POLYGON ((-45.50000 -25.46354, -45.50000 -25.4..."
3,Campos,SC-AR3,Bloco,C-M-299,M,Aprovado,1.0,não arrematado,5.0,Concessão,arrematado,113.485826,0.009730,0.546875,"POLYGON ((-40.65365 -22.50000, -40.75000 -22.5..."
4,Potiguar,SPOT-T5,Bloco,POT-T-705,T,Aprovado,2.0,a ser realizado,5.0,Concessão,não arrematado,15.838395,0.001237,0.228385,"POLYGON ((-36.87500 -5.40664, -36.87500 -5.458..."

##### Vizualizar Tabela de Municipios (5 primeiros registros)

In [5]:
municipios.head()

,CD_MUN,NM_MUN,SIGLA_UF,AREA_KM2,geometry
0,1100015,Alta Floresta D'Oeste,RO,7067.127,"POLYGON ((-62.00806 -12.13379, -62.00784 -12.2..."
1,1100023,Ariquemes,RO,4426.571,"POLYGON ((-63.17933 -10.13924, -63.17746 -10.1..."
2,1100031,Cabixi,RO,1314.352,"POLYGON ((-60.52408 -13.32137, -60.37162 -13.3..."
3,1100049,Cacoal,RO,3793.000,"POLYGON ((-61.35502 -11.50452, -61.35524 -11.5..."
4,1100056,Cerejeiras,RO,2783.300,"POLYGON ((-60.82135 -13.11910, -60.81773 -13.1..."

##### Verifica se o CRS das duas variáveis são iguais

In [6]:
oferta_permanente.crs == municipios.crs

True

##### Cria união dos dois arquivos de acordo com seus campos 'geometry' e mostra os 5 primeiros dados

In [7]:
muni_union = gpd.overlay(oferta_permanente, municipios, how='union', keep_geom_type=True)
muni_union.head()

,BACIA,SETOR,TIPO,OFERTA,SITUACAO,STATUS,CICLO_OFPE,ATRAT_OFPE,RODADA_ORI,MODAL_ORIG,ATRAT_ORIG,AREA_KM2_1,Shape_STAr,Shape_STLe,CD_MUN,NM_MUN,SIGLA_UF,AREA_KM2_2,geometry
0,Potiguar,SPOT-T5,Bloco,POT-T-705,T,Aprovado,2.0,a ser realizado,5.0,Concessão,não arrematado,15.838395,0.001237,0.228385,2400208,Açu,RN,1303.442,"POLYGON ((-36.87500 -5.45833, -36.93750 -5.458..."
1,Potiguar,SPOT-T5,Bloco,POT-T-705,T,Aprovado,1.0,não arrematado,5.0,Concessão,arrematado,15.838395,0.001237,0.228385,2400208,Açu,RN,1303.442,"POLYGON ((-36.87500 -5.45833, -36.93750 -5.458..."
2,Potiguar,SPOT-T4,Bloco,POT-T-701,T,Aprovado,2.0,a ser realizado,5.0,Concessão,não arrematado,33.449674,0.002617,0.209012,2400208,Açu,RN,1303.442,"POLYGON ((-37.16454 -5.45833, -37.15389 -5.416..."
3,Potiguar,SPOT-T5,Bloco,POT-T-704,T,Aprovado,1.0,não arrematado,5.0,Concessão,arrematado,30.185666,0.002359,0.208227,2400208,Açu,RN,1303.442,"POLYGON ((-36.93750 -5.45833, -37.00000 -5.458..."
4,Potiguar,SPOT-T4,Bloco,POT-T-749,T,Aprovado,2.0,a ser realizado,5.0,Concessão,não arrematado,33.308253,0.002604,0.208333,2400208,Açu,RN,1303.442,"POLYGON ((-37.06250 -5.50000, -37.06250 -5.458..."

##### Definindo as variaveis que vamos usar

In [8]:
set_uf_ma = muni_union['SIGLA_UF'] == 'MA'
set_status_aprovado = muni_union['STATUS'] == 'Aprovado'
set_atrativo_original_arrematado = muni_union['ATRAT_ORIG'] == 'arrematado'

#####  Definindo regra para nova tabela e mostrando os 5 primeiros registros

In [9]:
muni_union_filtered = muni_union[(set_uf_ma) & (set_status_aprovado) & (set_atrativo_original_arrematado)]
muni_union_filtered.head()

,BACIA,SETOR,TIPO,OFERTA,SITUACAO,STATUS,CICLO_OFPE,ATRAT_OFPE,RODADA_ORI,MODAL_ORIG,ATRAT_ORIG,AREA_KM2_1,Shape_STAr,Shape_STLe,CD_MUN,NM_MUN,SIGLA_UF,AREA_KM2_2,geometry
1106,Parnaíba,SPN-N,Bloco,PN-T-46,T,Aprovado,2.0,a ser realizado,11.0,Concessão,arrematado,2064.547063,0.166667,1.666667,2100477,Alto Alegre do Pindaré,MA,1875.901,"POLYGON ((-46.18247 -4.16667, -46.21216 -4.210..."
1107,Parnaíba,SPN-N,Bloco,PN-T-46,T,Aprovado,1.0,não arrematado,11.0,Concessão,arrematado,2064.547063,0.166667,1.666667,2100477,Alto Alegre do Pindaré,MA,1875.901,"POLYGON ((-46.18247 -4.16667, -46.21216 -4.210..."
1108,Parnaíba,SPN-N,Bloco,PN-T-46,T,Aprovado,2.0,a ser realizado,11.0,Concessão,arrematado,2064.547063,0.166667,1.666667,2102002,Bom Jardim,MA,6588.380,"POLYGON ((-46.50000 -4.16667, -46.45145 -4.166..."
1109,Parnaíba,SPN-N,Bloco,PN-T-46,T,Aprovado,1.0,não arrematado,11.0,Concessão,arrematado,2064.547063,0.166667,1.666667,2102002,Bom Jardim,MA,6588.380,"POLYGON ((-46.50000 -4.16667, -46.45145 -4.166..."
1110,Parnaíba,SPN-N,Bloco,PN-T-46,T,Aprovado,2.0,a ser realizado,11.0,Concessão,arrematado,2064.547063,0.166667,1.666667,2102036,Bom Jesus das Selvas,MA,2676.980,"MULTIPOLYGON (((-46.50000 -4.21801, -46.49984 ..."

##### Criando CSV, definindo divisão de dados por virgula (,)

OBS: O código irá criar uma Tabela em texto separados por virgula(,). Para vizualizar via Excel devemos importar o arquivo via Power Query e assim Formatar os dados para uma tabela. 

Veja como vizualizar em Excel no link: https://ajuda.olist.com/hc/pt-br/articles/4409273150356-Como-formatar-o-arquivo-CSV-em-colunas-separadas

In [10]:
muni_union_filtered.to_csv('Oferta Permanente x Estado do Maranhão.csv', sep=',', index=False)